# LeadForge Symfony
lead-forge.test {
    root * /srv/app/public
    encode gzip zstd
    php_server
    file_server
    log {
            output stdout
            format console
            level DEBUG
        }
    tls internal
}

# MailHog UI
mailhog.test {
    reverse_proxy mailhog:8026
    tls internal
}

# RabbitMQ Management UI
rabbitmq.test {
    reverse_proxy rabbitmq:15673
    tls internal
}

# Mercure
mercure.test {
    reverse_proxy leadforge_mercure:80
    tls internal
}

# Redirect HTTP → HTTPS
http://lead-forge.test http://mailhog.test http://rabbitmq.test http://redis.test http://mercure.test {
    redir https://{host}{uri} permanent
}
